## Cleaning the scraped tables

In [17]:
import pandas as pd
import re

In [54]:
data = pd.read_csv("EnergyRevolutionData/storage54.csv", index_col=0)
data.head()

,0,1,2,3,4,5,6
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752"
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074"
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617"
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759"

In [ ]:
- Geography (Global, India, China, Asia, Oceania)
- Scenario (reference, energy revolution, advanced energy revolution)
- Table name (electricity generation, final energy consumption transport)
- Group (bold categories - power plants, combined heat and power plants)
- Tech type (non-bold categories, will need to add "total" for bolded values)
- Measurement Year
- Value

In [196]:
def addScenarioColumns(data, column, REGEX):
    new_col = []
    data = data.copy()
    for row in range(len(data)):
        try:
            numbers = re.match(REGEX, data.iloc[row,column], re.IGNORECASE)
            if numbers:
                #pick 3rd number to indicate table
                numbers = int(numbers.group(1))
                #print (numbers)
                if numbers in range(0,8):
                    out = "Reference"
                elif numbers in range(8,15):
                    out = "Energy Revolution"
                else:
                    out = "Advanced Energy Revolution"
            else:
                numbers = None
            
            new_col.append(out)
        except TypeError:
            print(data.iloc[row])
            
    #print(new_col.shape, data.shape)
    data["scenario"] = new_col
    #table = pd.concat([new_col, data], axis = 1) # how to insert new columns in the middle
    
    #table = pd.concat([table.iloc[:,:column], lists, table.iloc[:,(column + 1):]], axis = 1) # how to insert new columns in the middle
    return data

In [205]:
def matchColumns(data, column, REGEX):
    new_col = []
    data = data.copy()
    for row in range(len(data)):
        try:
            numbers = re.findall(REGEX, data.iloc[row,column], re.IGNORECASE)
            if numbers:
                numbers = numbers[0]
            else:
                numbers = None
            new_col.append(numbers)
        except TypeError:
            print(data.iloc[row])
            
    #print(new_col.shape, data.shape)
    col_name = REGEX[:5]
    print(col_name)
    data[col_name] = new_col
    #table = pd.concat([new_col, data], axis = 1) # how to insert new columns in the middle
    
    #table = pd.concat([table.iloc[:,:column], lists, table.iloc[:,(column + 1):]], axis = 1) # how to insert new columns in the middle
    return data

In [25]:
data.head()

,0,1,2,3,4,5,6
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752"
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074"
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617"
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759"

Adding table name

In [69]:
reg = "Table \d+\.\d+\.\d+"
ex = matchColumns(data, column = 0, REGEX = reg)
ex[reg[:5]].fillna(method = "ffill", inplace = True)
ex

Table

,0,1,2,3,4,5,6,Table
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1
5,of which from H2,0,0,0,0,0,0,Table 13.1.1
6,oil,889,647,532,418,301,212,Table 13.1.1
7,Diesel,147,158,180,202,234,256,Table 13.1.1
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1
13,PV,97,408,519,630,832,"1,096",Table 13.1.1
14,Geothermal,69,111,148,185,283,419,Table 13.1.1
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1
16,ocean energy,0,3,6,10,41,76,Table 13.1.1
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1
19,lignite,193,187,185,182,175,171,Table 13.1.1
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1
21,of which from H2,0,0,0,0,0,0,Table 13.1.1
22,oil,88,63,50,36,26,23,Table 13.1.1
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1
24,Geothermal,2,2,3,3,4,6,Table 13.1.1
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1
...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20
23,industry1,319,292,242,190,92,0,table 13.11.20
24,other sectors1,258,232,197,160,66,0,table 13.11.20
25,transport,439,397,313,209,63,0,table 13.11.20
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20
27,other conversion3,181,107,73,44,11,0,table 13.11.20
28,population (mill.),204,206,207,206,203,199,table 13.11.20
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21
9,hydro,419,539,558,571,586,647,table 13.11.21
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21
14,ocean energy,0,32,144,324,558,893,table 13.11.21
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21

Geography

In [70]:
reg = "(global|oecd north america|latin america|oecd europe|africa|middle east|eastern europe/eurasia|india|other asia|china|oecd asia oceania)"
ex1 = matchColumns(ex, column = 0, REGEX = reg)
ex1[reg[:5]].fillna(method = "ffill", inplace = True)
ex1

(glob

,0,1,2,3,4,5,6,Table,(glob
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1,Global
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global
5,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global
6,oil,889,647,532,418,301,212,Table 13.1.1,Global
7,Diesel,147,158,180,202,234,256,Table 13.1.1,Global
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1,Global
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1,Global
13,PV,97,408,519,630,832,"1,096",Table 13.1.1,Global
14,Geothermal,69,111,148,185,283,419,Table 13.1.1,Global
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1,Global
16,ocean energy,0,3,6,10,41,76,Table 13.1.1,Global
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global
19,lignite,193,187,185,182,175,171,Table 13.1.1,Global
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global
21,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global
22,oil,88,63,50,36,26,23,Table 13.1.1,Global
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1,Global
24,Geothermal,2,2,3,3,4,6,Table 13.1.1,Global
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1,Global
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global
...,...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20,Oecd asia Oceania
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20,Oecd asia Oceania
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania
23,industry1,319,292,242,190,92,0,table 13.11.20,Oecd asia Oceania
24,other sectors1,258,232,197,160,66,0,table 13.11.20,Oecd asia Oceania
25,transport,439,397,313,209,63,0,table 13.11.20,Oecd asia Oceania
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20,Oecd asia Oceania
27,other conversion3,181,107,73,44,11,0,table 13.11.20,Oecd asia Oceania
28,population (mill.),204,206,207,206,203,199,table 13.11.20,Oecd asia Oceania
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21,Oecd asia Oceania
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania
9,hydro,419,539,558,571,586,647,table 13.11.21,Oecd asia Oceania
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania
14,ocean energy,0,32,144,324,558,893,table 13.11.21,Oecd asia Oceania
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21,Oecd asia Oceania
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania

Table name

In [106]:
reg = "(Electricity generation|Final energy consumption in transport|Heat supply|Installed capacity|Final energy demand|CO2 emissions|Primary energy demand)"
ex2 = matchColumns(ex1, column = 0, REGEX = reg)
ex2[reg[:5]].fillna(method = "ffill", inplace = True)
ex2

(Elec

,0,1,2,3,4,5,6,Table,(glob,(Elec
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1,Global,Electricity generation
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global,Electricity generation
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global,Electricity generation
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global,Electricity generation
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global,Electricity generation
5,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation
6,oil,889,647,532,418,301,212,Table 13.1.1,Global,Electricity generation
7,Diesel,147,158,180,202,234,256,Table 13.1.1,Global,Electricity generation
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global,Electricity generation
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1,Global,Electricity generation
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global,Electricity generation
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global,Electricity generation
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1,Global,Electricity generation
13,PV,97,408,519,630,832,"1,096",Table 13.1.1,Global,Electricity generation
14,Geothermal,69,111,148,185,283,419,Table 13.1.1,Global,Electricity generation
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1,Global,Electricity generation
16,ocean energy,0,3,6,10,41,76,Table 13.1.1,Global,Electricity generation
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global,Electricity generation
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global,Electricity generation
19,lignite,193,187,185,182,175,171,Table 13.1.1,Global,Electricity generation
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global,Electricity generation
21,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation
22,oil,88,63,50,36,26,23,Table 13.1.1,Global,Electricity generation
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1,Global,Electricity generation
24,Geothermal,2,2,3,3,4,6,Table 13.1.1,Global,Electricity generation
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1,Global,Electricity generation
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global,Electricity generation
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global,Electricity generation
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global,Electricity generation
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global,Electricity generation
...,...,...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20,Oecd asia Oceania,co2 emissions
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20,Oecd asia Oceania,co2 emissions
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania,co2 emissions
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania,co2 emissions
23,industry1,319,292,242,190,92,0,table 13.11.20,Oecd asia Oceania,co2 emissions
24,other sectors1,258,232,197,160,66,0,table 13.11.20,Oecd asia Oceania,co2 emissions
25,transport,439,397,313,209,63,0,table 13.11.20,Oecd asia Oceania,co2 emissions
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20,Oecd asia Oceania,co2 emissions
27,other conversion3,181,107,73,44,11,0,table 13.11.20,Oecd asia Oceania,co2 emissions
28,population (mill.),204,206,207,206,203,199,table 13.11.20,Oecd asia Oceania,co2 emissions
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania,co2 emissions
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21,Oecd asia Oceania,primary energy demand
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania,primary energy demand
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania,primary energy demand
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania,primary energy demand
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania,primary energy demand
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania,primary energy demand
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania,primary energy demand
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand
9,hydro,419,539,558,571,586,647,table 13.11.21,Oecd asia Oceania,primary energy demand
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania,primary energy demand
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania,primary energy demand
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania,primary energy demand
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania,primary energy demand
14,ocean energy,0,32,144,324,558,893,table 13.11.21,Oecd asia Oceania,primary energy demand
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania,primary energy demand
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania,primary energy demand

In [85]:
ex2["(Elec"].unique()

array(['Electricity generation', 'Final energy consumption in transport',
       'Installed capacity', 'Final energy demand', 'CO2 emissions',
       'Primary energy demand', 'electricity generation',
       'final energy consumption in transport', 'installed capacity',
       'final energy demand', 'cO2 emissions', 'co2 emissions',
       'primary energy demand'], dtype=object)

In [216]:
reg = "Table \d+\.\d+\.(\d+)"
ex = addScenarioColumns(data, column = 0, REGEX = reg)
#ex[scenario].fillna(method = "ffill", inplace = True)
ex

,0,1,2,3,4,5,6,scenario
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Reference
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Reference
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Reference
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Reference
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Reference
5,of which from H2,0,0,0,0,0,0,Reference
6,oil,889,647,532,418,301,212,Reference
7,Diesel,147,158,180,202,234,256,Reference
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Reference
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Reference
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Reference
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Reference
12,of which wind offshore,19,69,123,189,346,521,Reference
13,PV,97,408,519,630,832,"1,096",Reference
14,Geothermal,69,111,148,185,283,419,Reference
15,solar thermal power plants,5,34,60,85,173,303,Reference
16,ocean energy,0,3,6,10,41,76,Reference
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Reference
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Reference
19,lignite,193,187,185,182,175,171,Reference
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Reference
21,of which from H2,0,0,0,0,0,0,Reference
22,oil,88,63,50,36,26,23,Reference
23,biomass (& renewable waste),175,218,237,259,290,326,Reference
24,Geothermal,2,2,3,3,4,6,Reference
25,Hydrogen,0,1,1,1,1,1,Reference
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Reference
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Reference
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Reference
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Reference
...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,Advanced Energy Revolution
20,co2 intensity total electr. generation,564,425,335,208,56,0,Advanced Energy Revolution
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,Advanced Energy Revolution
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,Advanced Energy Revolution
23,industry1,319,292,242,190,92,0,Advanced Energy Revolution
24,other sectors1,258,232,197,160,66,0,Advanced Energy Revolution
25,transport,439,397,313,209,63,0,Advanced Energy Revolution
26,power generation2,"1,016",833,665,437,128,0,Advanced Energy Revolution
27,other conversion3,181,107,73,44,11,0,Advanced Energy Revolution
28,population (mill.),204,206,207,206,203,199,Advanced Energy Revolution
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,Advanced Energy Revolution
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,Advanced Energy Revolution
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",Advanced Energy Revolution
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",Advanced Energy Revolution
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,Advanced Energy Revolution
4,lignite,"1,592","1,133",915,466,46,0,Advanced Energy Revolution
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,Advanced Energy Revolution
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",Advanced Energy Revolution
7,nuclear,"1,814","1,778",545,0,0,0,Advanced Energy Revolution
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",Advanced Energy Revolution
9,hydro,419,539,558,571,586,647,Advanced Energy Revolution
10,wind,50,576,"1,008","1,620","2,953","3,673",Advanced Energy Revolution
11,solar,62,565,"1,341","2,259","3,588","4,551",Advanced Energy Revolution
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",Advanced Energy Revolution
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",Advanced Energy Revolution
14,ocean energy,0,32,144,324,558,893,Advanced Energy Revolution
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",Advanced Energy Revolution
16,net electricity imports (final energy),0,0,0,0,0,0,Advanced Energy Revolution
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",Advanced Energy Revolution
18,res share,5%,16%,26%,41%,67%,89%,Advanced Energy Revolution

Distribution losses convert to Final energy consumption (electricity)
Convert fluctuating res (PV, Wind, ocean) to RES share

In [217]:
reg = "^(Power plants|Combined heat and power plants|Distribution losses|fluctuating res \(PV, Wind, ocean\)|Road|Rail|Navigation|Aviation|Total \(incl. pipelines\)|Total RES|District heating plants|Heat from CHP|Direct heating|Total heat supply|RES share \(including RES electricity\)|Total generation|Fossil\b|Renewables\b|fluctuating res \(PV, Wind, ocean\)|Total \(incl. non-energy use\)|Total energy use|Transport\b|Industry|Other Sectors|Non energy use|Condensation power plants|Combined heat and power plants|CO2 emissions power and CHP plants|Condensation power plants|CO2 intensity \(g/kWh\)|CO2 emissions by sector|Population\(Mill.\)|CO2 emissions per capita \(t\/capita\)|Of which non-energy use|Net electricity import \(final energy\)|Total RES incl. net electricity import)"
ex3 = matchColumns(ex2, column = 0, REGEX = reg)
ex3[reg[:5]].fillna(method = "ffill", inplace = True)
ex3.iloc[150:200]

^(Pow

,0,1,2,3,4,5,6,Table,(glob,(Elec,^(Pow
15,Public district heat,"5,446","6,052","6,263","6,473","6,496","6,446",Table 13.1.5,Global,Final energy demand,Industry
16,RES district heat,113,307,348,394,456,508,Table 13.1.5,Global,Final energy demand,Industry
17,Hard coal & lignite,"25,402","32,795","33,324","34,396","35,528","36,033",Table 13.1.5,Global,Final energy demand,Industry
18,oil products,"12,939","14,200","14,512","14,824","14,989","14,585",Table 13.1.5,Global,Final energy demand,Industry
19,Gas,"26,305","29,915","33,643","36,828","43,349","48,889",Table 13.1.5,Global,Final energy demand,Industry
20,solar,13,70,106,141,272,470,Table 13.1.5,Global,Final energy demand,Industry
21,biomass,"7,441","9,290","10,600","11,909","14,647","17,158",Table 13.1.5,Global,Final energy demand,Industry
22,Geothermal,20,24,27,29,37,45,Table 13.1.5,Global,Final energy demand,Industry
23,Hydrogen,0,0,0,0,0,0,Table 13.1.5,Global,Final energy demand,Industry
24,RES share Industry,13%,15%,15%,16%,17%,19%,Table 13.1.5,Global,Final energy demand,Industry
25,Other Sectors,"130,428","146,901","157,332","167,789","187,404","203,589",Table 13.1.5,Global,Final energy demand,Other Sectors
26,electricity,"38,088","47,601","54,653","61,705","76,400","87,266",Table 13.1.5,Global,Final energy demand,Other Sectors
27,RES electricity,"7,994","11,712","13,617","15,524","19,178","22,832",Table 13.1.5,Global,Final energy demand,Other Sectors
28,Public district heat,"6,555","6,709","6,969","7,229","7,711","8,285",Table 13.1.5,Global,Final energy demand,Other Sectors
29,RES district heat,136,340,388,440,541,654,Table 13.1.5,Global,Final energy demand,Other Sectors
30,Hard coal & lignite,"5,718","5,878","5,977","6,076","5,954","5,903",Table 13.1.5,Global,Final energy demand,Other Sectors
31,oil products,"17,894","18,409","18,663","18,940","19,301","19,849",Table 13.1.5,Global,Final energy demand,Other Sectors
32,Gas,"24,960","29,178","31,634","34,091","38,538","43,036",Table 13.1.5,Global,Final energy demand,Other Sectors
33,solar,790,"1,314","1,639","1,964","2,568","3,359",Table 13.1.5,Global,Final energy demand,Other Sectors
34,biomass,"36,126","37,374","37,275","37,177","36,076","34,701",Table 13.1.5,Global,Final energy demand,Other Sectors
35,Geothermal,297,437,521,605,856,"1,189",Table 13.1.5,Global,Final energy demand,Other Sectors
36,Hydrogen,0,0,0,0,0,0,Table 13.1.5,Global,Final energy demand,Other Sectors
37,RES share Other Sectors,35%,35%,34%,33%,32%,31%,Table 13.1.5,Global,Final energy demand,Other Sectors
38,Total RES,"61,675","74,010","79,880","85,762","96,342","106,213",Table 13.1.5,Global,Final energy demand,Total RES
39,RES share,19%,19%,19%,19%,19%,20%,Table 13.1.5,Global,Final energy demand,Total RES
40,non energy use,"33,791","38,763","41,237","43,636","46,585","49,199",Table 13.1.5,Global,Final energy demand,non energy use
41,oil,"24,430","27,189","28,234","29,263","30,036","30,424",Table 13.1.5,Global,Final energy demand,non energy use
42,Gas,"7,735","9,499","10,683","11,818","13,760","15,822",Table 13.1.5,Global,Final energy demand,non energy use
43,coal,"1,625","2,075","2,320","2,555","2,790","2,953",Table 13.1.5,Global,Final energy demand,non energy use
0,Table 13.1.6: Global: CO2 emissions Mill t/a,2012,2020,2025,2030,2040,2050,Table 13.1.6,Global,CO2 emissions,non energy use
1,Condensation power plants,"9,522","11,492","12,968","14,468","17,838","19,724",Table 13.1.6,Global,CO2 emissions,Condensation power plants
2,Hard coal (& non-renewable waste),"5,063","6,722","7,824","8,978","11,393","12,582",Table 13.1.6,Global,CO2 emissions,Condensation power plants
3,lignite,"1,902","1,976","2,074","2,125","2,283","2,432",Table 13.1.6,Global,CO2 emissions,Condensation power plants
4,Gas,"1,760","2,073","2,430","2,800","3,669","4,272",Table 13.1.6,Global,CO2 emissions,Condensation power plants
5,oil,621,534,432,332,233,158,Table 13.1.6,Global,CO2 emissions,Condensation power plants
6,Diesel,175,186,209,232,262,280,Table 13.1.6,Global,CO2 emissions,Condensation power plants
7,Combined heat and power plants,"2,717","2,937","2,917","2,889","2,828","2,787",Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
8,Hard coal (& non-renewable waste),"1,579","1,832","1,836","1,826","1,780","1,723",Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
9,lignite,251,243,240,236,226,219,Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
10,Gas,807,810,802,801,805,831,Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
11,oil,79,52,39,26,17,14,Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
12,CO2 emissions power and CHP plants,"12,238","14,428","15,885","17,356","20,667","22,511",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
13,Hard coal (& non-renewable waste),"6,643","8,553","9,660","10,804","13,173","14,305",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
14,lignite,"2,154","2,219","2,313","2,361","2,509","2,651",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
15,Gas,"2,567","2,884","3,232","3,601","4,474","5,103",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
16,oil & diesel,875,772,680,591,511,452,Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
17,CO2 intensity (g/kWh),NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)
18,without credit for CHP heat,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)
19,co2 intensity fossil electr. generation,794,790,761,740,710,683,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)
20,co2 intensity total electr. generation,541,506,491,479,470,449,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)

In [202]:
ex3["(fluc"].unique()

array([None], dtype=object)

In [ ]:
Power plants|
Combined heat and power plants|
Distribution losses|
Convert fluctuating res \(PV, Wind, ocean\)|
Road|
Rail|
Navigation|
Aviation|
Total \(incl. pipelines\)|
Total RES|
District heating plants|
Heat from CHP|
Direct heating|
Total heat supply|
RES share \(including RES electricity\)|
Total generation|
Fossil\b|
Renewables|
fluctuating res \(PV, Wind, ocean\)|
Total \(incl. non-energy use\)|
Total energy use|
Transport\b|
Industry|
Other Sectors|
Non energy use|
Condensation power plants|
Combined heat and power plants|
CO2 emissions power and CHP plants|
Condensation power plants|
Combined heat and power plants|
CO2 intensity \(g/kWh\)|
CO2 emissions by sector|
Population\(Mill.\)|
CO2 emissions per capita|
Of which non-energy use)

In [96]:
ex3["^(Pow"].unique()

array([None, 'Power plants', 'Combined heat and power plants',
       'Total generation', 'Distribution losses',
       'fluctuating res (PV, Wind, ocean)', 'District heating plants',
       'Direct heating', 'RES share (including RES electricity)',
       'Renewables', 'Condensation power plants',
       'CO2 emissions power and CHP plants', 'CO2 intensity (g/kWh)',
       'CO2 emissions by sector', 'Of which non-energy use',
       'co2 emissions power and chp plants', 'co2 emissions by sector',
       'district heating plants', 'direct heating',
       'res share (including res electricity)',
       'condensation power plants', 'combined heat and power plants',
       'co2 intensity (g/kWh)', 'power plants', 'total generation',
       'distribution losses', 'fluctuating res (pv, wind, ocean)',
       'renewables'], dtype=object)