# Cleaning the scraped tables

In [17]:
import pandas as pd
import re

In [54]:
data = pd.read_csv("EnergyRevolutionData/storage54.csv", index_col=0)
data.head()

,0,1,2,3,4,5,6
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752"
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074"
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617"
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759"

## These are the columns to organize the data into

- Geography (Global, India, China, Asia, Oceania)
- Scenario (reference, energy revolution, advanced energy revolution)
- Table name (electricity generation, final energy consumption transport)
- Group (bold categories - power plants, combined heat and power plants)
- Tech type (non-bold categories, will need to add "total" for bolded values)
- Measurement Year
- Value

In [314]:
"""
This adds the scenario column based 
on the 3rd number in the table number.
    1-7  : reference
    8-14 : revolution
    15-21: advanced revolution
"""
def addScenarioColumns(data, column, REGEX):
    new_col = []
    data = data.copy()
    for row in range(len(data)):
        try:
            numbers = re.match(REGEX, data.iloc[row,column], re.IGNORECASE)
            if numbers:
                #pick 3rd number to indicate table
                numbers = int(numbers.group(1))
                #print (numbers)
                if numbers in range(0,8):
                    out = "Reference"
                elif numbers in range(8,15):
                    out = "Energy Revolution"
                else:
                    out = "Advanced Energy Revolution"
            else:
                numbers = None
            
            new_col.append(out)
        except TypeError:
            print(data.iloc[row])
            
    #print(new_col.shape, data.shape)
    data["scenario"] = new_col
    #table = pd.concat([new_col, data], axis = 1) # how to insert new columns in the middle
    
    #table = pd.concat([table.iloc[:,:column], lists, table.iloc[:,(column + 1):]], axis = 1) # how to insert new columns in the middle
    return data

In [315]:
"""
This iterates through each column and 
creates a new one based on the regex.
    data:   data frame
    column: column to parse from
    REGEX:  pattern to match

"""
def matchColumns(data, column, REGEX):
    new_col = []
    data = data.copy()
    for row in range(len(data)):
        try:
            numbers = re.findall(REGEX, data.iloc[row,column], re.IGNORECASE)
            if numbers:
                numbers = numbers[0]
            else:
                numbers = None
            new_col.append(numbers)
        except TypeError:
            print(data.iloc[row])
            
    #print(new_col.shape, data.shape)
    col_name = REGEX[:5]
    print(col_name)
    data[col_name] = new_col
    #table = pd.concat([new_col, data], axis = 1) # how to insert new columns in the middle
    
    #table = pd.concat([table.iloc[:,:column], lists, table.iloc[:,(column + 1):]], axis = 1) # how to insert new columns in the middle
    return data

In [25]:
data.head()

,0,1,2,3,4,5,6
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752"
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074"
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617"
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759"

Adding table name

In [69]:
reg = "Table \d+\.\d+\.\d+"
ex = matchColumns(data, column = 0, REGEX = reg)
ex[reg[:5]].fillna(method = "ffill", inplace = True)
ex

Table

,0,1,2,3,4,5,6,Table
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1
5,of which from H2,0,0,0,0,0,0,Table 13.1.1
6,oil,889,647,532,418,301,212,Table 13.1.1
7,Diesel,147,158,180,202,234,256,Table 13.1.1
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1
13,PV,97,408,519,630,832,"1,096",Table 13.1.1
14,Geothermal,69,111,148,185,283,419,Table 13.1.1
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1
16,ocean energy,0,3,6,10,41,76,Table 13.1.1
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1
19,lignite,193,187,185,182,175,171,Table 13.1.1
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1
21,of which from H2,0,0,0,0,0,0,Table 13.1.1
22,oil,88,63,50,36,26,23,Table 13.1.1
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1
24,Geothermal,2,2,3,3,4,6,Table 13.1.1
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1
...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20
23,industry1,319,292,242,190,92,0,table 13.11.20
24,other sectors1,258,232,197,160,66,0,table 13.11.20
25,transport,439,397,313,209,63,0,table 13.11.20
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20
27,other conversion3,181,107,73,44,11,0,table 13.11.20
28,population (mill.),204,206,207,206,203,199,table 13.11.20
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21
9,hydro,419,539,558,571,586,647,table 13.11.21
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21
14,ocean energy,0,32,144,324,558,893,table 13.11.21
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21

Geography

In [70]:
reg = "(global|oecd north america|latin america|oecd europe|africa|middle east|eastern europe/eurasia|india|other asia|china|oecd asia oceania)"
ex1 = matchColumns(ex, column = 0, REGEX = reg)
ex1[reg[:5]].fillna(method = "ffill", inplace = True)
ex1

(glob

,0,1,2,3,4,5,6,Table,(glob
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1,Global
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global
5,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global
6,oil,889,647,532,418,301,212,Table 13.1.1,Global
7,Diesel,147,158,180,202,234,256,Table 13.1.1,Global
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1,Global
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1,Global
13,PV,97,408,519,630,832,"1,096",Table 13.1.1,Global
14,Geothermal,69,111,148,185,283,419,Table 13.1.1,Global
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1,Global
16,ocean energy,0,3,6,10,41,76,Table 13.1.1,Global
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global
19,lignite,193,187,185,182,175,171,Table 13.1.1,Global
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global
21,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global
22,oil,88,63,50,36,26,23,Table 13.1.1,Global
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1,Global
24,Geothermal,2,2,3,3,4,6,Table 13.1.1,Global
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1,Global
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global
...,...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20,Oecd asia Oceania
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20,Oecd asia Oceania
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania
23,industry1,319,292,242,190,92,0,table 13.11.20,Oecd asia Oceania
24,other sectors1,258,232,197,160,66,0,table 13.11.20,Oecd asia Oceania
25,transport,439,397,313,209,63,0,table 13.11.20,Oecd asia Oceania
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20,Oecd asia Oceania
27,other conversion3,181,107,73,44,11,0,table 13.11.20,Oecd asia Oceania
28,population (mill.),204,206,207,206,203,199,table 13.11.20,Oecd asia Oceania
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21,Oecd asia Oceania
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania
9,hydro,419,539,558,571,586,647,table 13.11.21,Oecd asia Oceania
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania
14,ocean energy,0,32,144,324,558,893,table 13.11.21,Oecd asia Oceania
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21,Oecd asia Oceania
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania

Table name

In [226]:
reg = "(Electricity generation|Final energy consumption in transport|Heat supply|Installed capacity|Final energy demand|CO2 emissions|Primary energy demand)"
ex2 = matchColumns(ex1, column = 0, REGEX = reg)
ex2[reg[:5]].fillna(method = "ffill", inplace = True)
ex2

(Elec

,0,1,2,3,4,5,6,Table,(glob,(Elec
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1,Global,Electricity generation
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global,Electricity generation
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global,Electricity generation
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global,Electricity generation
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global,Electricity generation
5,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation
6,oil,889,647,532,418,301,212,Table 13.1.1,Global,Electricity generation
7,Diesel,147,158,180,202,234,256,Table 13.1.1,Global,Electricity generation
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global,Electricity generation
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1,Global,Electricity generation
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global,Electricity generation
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global,Electricity generation
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1,Global,Electricity generation
13,PV,97,408,519,630,832,"1,096",Table 13.1.1,Global,Electricity generation
14,Geothermal,69,111,148,185,283,419,Table 13.1.1,Global,Electricity generation
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1,Global,Electricity generation
16,ocean energy,0,3,6,10,41,76,Table 13.1.1,Global,Electricity generation
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global,Electricity generation
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global,Electricity generation
19,lignite,193,187,185,182,175,171,Table 13.1.1,Global,Electricity generation
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global,Electricity generation
21,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation
22,oil,88,63,50,36,26,23,Table 13.1.1,Global,Electricity generation
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1,Global,Electricity generation
24,Geothermal,2,2,3,3,4,6,Table 13.1.1,Global,Electricity generation
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1,Global,Electricity generation
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global,Electricity generation
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global,Electricity generation
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global,Electricity generation
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global,Electricity generation
...,...,...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20,Oecd asia Oceania,co2 emissions
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20,Oecd asia Oceania,co2 emissions
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania,co2 emissions
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania,co2 emissions
23,industry1,319,292,242,190,92,0,table 13.11.20,Oecd asia Oceania,co2 emissions
24,other sectors1,258,232,197,160,66,0,table 13.11.20,Oecd asia Oceania,co2 emissions
25,transport,439,397,313,209,63,0,table 13.11.20,Oecd asia Oceania,co2 emissions
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20,Oecd asia Oceania,co2 emissions
27,other conversion3,181,107,73,44,11,0,table 13.11.20,Oecd asia Oceania,co2 emissions
28,population (mill.),204,206,207,206,203,199,table 13.11.20,Oecd asia Oceania,co2 emissions
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania,co2 emissions
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21,Oecd asia Oceania,primary energy demand
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania,primary energy demand
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania,primary energy demand
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania,primary energy demand
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania,primary energy demand
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania,primary energy demand
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania,primary energy demand
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand
9,hydro,419,539,558,571,586,647,table 13.11.21,Oecd asia Oceania,primary energy demand
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania,primary energy demand
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania,primary energy demand
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania,primary energy demand
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania,primary energy demand
14,ocean energy,0,32,144,324,558,893,table 13.11.21,Oecd asia Oceania,primary energy demand
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania,primary energy demand
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania,primary energy demand

In [85]:
ex2["(Elec"].unique()

array(['Electricity generation', 'Final energy consumption in transport',
       'Installed capacity', 'Final energy demand', 'CO2 emissions',
       'Primary energy demand', 'electricity generation',
       'final energy consumption in transport', 'installed capacity',
       'final energy demand', 'cO2 emissions', 'co2 emissions',
       'primary energy demand'], dtype=object)

Group

Distribution losses convert to Final energy consumption (electricity)
Convert fluctuating res (PV, Wind, ocean) to RES share

In [278]:
reg = "^(Power plants$|Combined heat and power plants|Distribution losses|fluctuating res \(PV, Wind, ocean\)|Road|Rail|Navigation|Aviation|Total \(incl. pipelines\)|Total RES|District heating plants|Heat from CHP|Direct heating|Total heat supply|RES share \(including RES electricity\)|Total generation|Fossil$|Renewables$|Total \(incl. non-energy use\)|Total energy use|Transport\b|Industry|Other Sectors|Non energy use|Condensation power plants|Combined heat and power plants|CO2 emissions power and CHP plants|Condensation power plants|CO2 intensity \(g/kWh\)|CO2 emissions by sector|Population \(Mill.\)|CO2 emissions per capita \(t\/capita\)|Of which non-energy use|Net electricity imports \(final energy\)|Total RES incl. net electricity import).?$"
ex3 = matchColumns(ex2, column = 0, REGEX = reg)
ex3[reg[:5]].fillna(method = "ffill", inplace = True)
ex3.iloc[150:200]

^(Pow

,0,1,2,3,4,5,6,Table,(glob,(Elec,^(Pow
15,Public district heat,"5,446","6,052","6,263","6,473","6,496","6,446",Table 13.1.5,Global,Final energy demand,Industry
16,RES district heat,113,307,348,394,456,508,Table 13.1.5,Global,Final energy demand,Industry
17,Hard coal & lignite,"25,402","32,795","33,324","34,396","35,528","36,033",Table 13.1.5,Global,Final energy demand,Industry
18,oil products,"12,939","14,200","14,512","14,824","14,989","14,585",Table 13.1.5,Global,Final energy demand,Industry
19,Gas,"26,305","29,915","33,643","36,828","43,349","48,889",Table 13.1.5,Global,Final energy demand,Industry
20,solar,13,70,106,141,272,470,Table 13.1.5,Global,Final energy demand,Industry
21,biomass,"7,441","9,290","10,600","11,909","14,647","17,158",Table 13.1.5,Global,Final energy demand,Industry
22,Geothermal,20,24,27,29,37,45,Table 13.1.5,Global,Final energy demand,Industry
23,Hydrogen,0,0,0,0,0,0,Table 13.1.5,Global,Final energy demand,Industry
24,RES share Industry,13%,15%,15%,16%,17%,19%,Table 13.1.5,Global,Final energy demand,Industry
25,Other Sectors,"130,428","146,901","157,332","167,789","187,404","203,589",Table 13.1.5,Global,Final energy demand,Other Sectors
26,electricity,"38,088","47,601","54,653","61,705","76,400","87,266",Table 13.1.5,Global,Final energy demand,Other Sectors
27,RES electricity,"7,994","11,712","13,617","15,524","19,178","22,832",Table 13.1.5,Global,Final energy demand,Other Sectors
28,Public district heat,"6,555","6,709","6,969","7,229","7,711","8,285",Table 13.1.5,Global,Final energy demand,Other Sectors
29,RES district heat,136,340,388,440,541,654,Table 13.1.5,Global,Final energy demand,Other Sectors
30,Hard coal & lignite,"5,718","5,878","5,977","6,076","5,954","5,903",Table 13.1.5,Global,Final energy demand,Other Sectors
31,oil products,"17,894","18,409","18,663","18,940","19,301","19,849",Table 13.1.5,Global,Final energy demand,Other Sectors
32,Gas,"24,960","29,178","31,634","34,091","38,538","43,036",Table 13.1.5,Global,Final energy demand,Other Sectors
33,solar,790,"1,314","1,639","1,964","2,568","3,359",Table 13.1.5,Global,Final energy demand,Other Sectors
34,biomass,"36,126","37,374","37,275","37,177","36,076","34,701",Table 13.1.5,Global,Final energy demand,Other Sectors
35,Geothermal,297,437,521,605,856,"1,189",Table 13.1.5,Global,Final energy demand,Other Sectors
36,Hydrogen,0,0,0,0,0,0,Table 13.1.5,Global,Final energy demand,Other Sectors
37,RES share Other Sectors,35%,35%,34%,33%,32%,31%,Table 13.1.5,Global,Final energy demand,Other Sectors
38,Total RES,"61,675","74,010","79,880","85,762","96,342","106,213",Table 13.1.5,Global,Final energy demand,Total RES
39,RES share,19%,19%,19%,19%,19%,20%,Table 13.1.5,Global,Final energy demand,Total RES
40,non energy use,"33,791","38,763","41,237","43,636","46,585","49,199",Table 13.1.5,Global,Final energy demand,non energy use
41,oil,"24,430","27,189","28,234","29,263","30,036","30,424",Table 13.1.5,Global,Final energy demand,non energy use
42,Gas,"7,735","9,499","10,683","11,818","13,760","15,822",Table 13.1.5,Global,Final energy demand,non energy use
43,coal,"1,625","2,075","2,320","2,555","2,790","2,953",Table 13.1.5,Global,Final energy demand,non energy use
0,Table 13.1.6: Global: CO2 emissions Mill t/a,2012,2020,2025,2030,2040,2050,Table 13.1.6,Global,CO2 emissions,non energy use
1,Condensation power plants,"9,522","11,492","12,968","14,468","17,838","19,724",Table 13.1.6,Global,CO2 emissions,Condensation power plants
2,Hard coal (& non-renewable waste),"5,063","6,722","7,824","8,978","11,393","12,582",Table 13.1.6,Global,CO2 emissions,Condensation power plants
3,lignite,"1,902","1,976","2,074","2,125","2,283","2,432",Table 13.1.6,Global,CO2 emissions,Condensation power plants
4,Gas,"1,760","2,073","2,430","2,800","3,669","4,272",Table 13.1.6,Global,CO2 emissions,Condensation power plants
5,oil,621,534,432,332,233,158,Table 13.1.6,Global,CO2 emissions,Condensation power plants
6,Diesel,175,186,209,232,262,280,Table 13.1.6,Global,CO2 emissions,Condensation power plants
7,Combined heat and power plants,"2,717","2,937","2,917","2,889","2,828","2,787",Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
8,Hard coal (& non-renewable waste),"1,579","1,832","1,836","1,826","1,780","1,723",Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
9,lignite,251,243,240,236,226,219,Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
10,Gas,807,810,802,801,805,831,Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
11,oil,79,52,39,26,17,14,Table 13.1.6,Global,CO2 emissions,Combined heat and power plants
12,CO2 emissions power and CHP plants,"12,238","14,428","15,885","17,356","20,667","22,511",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
13,Hard coal (& non-renewable waste),"6,643","8,553","9,660","10,804","13,173","14,305",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
14,lignite,"2,154","2,219","2,313","2,361","2,509","2,651",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
15,Gas,"2,567","2,884","3,232","3,601","4,474","5,103",Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
16,oil & diesel,875,772,680,591,511,452,Table 13.1.6,Global,CO2 emissions,CO2 emissions power and CHP plants
17,CO2 intensity (g/kWh),NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)
18,without credit for CHP heat,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)
19,co2 intensity fossil electr. generation,794,790,761,740,710,683,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)
20,co2 intensity total electr. generation,541,506,491,479,470,449,Table 13.1.6,Global,CO2 emissions,CO2 intensity (g/kWh)

replace values

In [279]:
ex3["^(Pow"].replace({"Distribution losses": "Final energy consumption (electricity)", "fluctuating res (PV, Wind, ocean)": "RES share"}, inplace=True)

Scenario

In [306]:
reg = "Table \d+\.\d+\.(\d+)"
ex4 = addScenarioColumns(ex3, column = 0, REGEX = reg)
#ex[scenario].fillna(method = "ffill", inplace = True)
ex4

,0,1,2,3,4,5,6,Table,(glob,(Elec,^(Pow,scenario
0,Table 13.1.1 Global: Electricity generation TWh/a,2012,2020,2025,2030,2040,2050,Table 13.1.1,Global,Electricity generation,None,Reference
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global,Electricity generation,Power plants,Reference
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global,Electricity generation,Power plants,Reference
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global,Electricity generation,Power plants,Reference
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global,Electricity generation,Power plants,Reference
5,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation,Power plants,Reference
6,oil,889,647,532,418,301,212,Table 13.1.1,Global,Electricity generation,Power plants,Reference
7,Diesel,147,158,180,202,234,256,Table 13.1.1,Global,Electricity generation,Power plants,Reference
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global,Electricity generation,Power plants,Reference
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1,Global,Electricity generation,Power plants,Reference
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global,Electricity generation,Power plants,Reference
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global,Electricity generation,Power plants,Reference
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1,Global,Electricity generation,Power plants,Reference
13,PV,97,408,519,630,832,"1,096",Table 13.1.1,Global,Electricity generation,Power plants,Reference
14,Geothermal,69,111,148,185,283,419,Table 13.1.1,Global,Electricity generation,Power plants,Reference
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1,Global,Electricity generation,Power plants,Reference
16,ocean energy,0,3,6,10,41,76,Table 13.1.1,Global,Electricity generation,Power plants,Reference
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
19,lignite,193,187,185,182,175,171,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
21,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
22,oil,88,63,50,36,26,23,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
24,Geothermal,2,2,3,3,4,6,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global,Electricity generation,Total generation,Reference
...,...,...,...,...,...,...,...,...,...,...,...,...
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution
23,industry1,319,292,242,190,92,0,table 13.11.20,Oecd asia Oceania,co2 emissions,industry,Advanced Energy Revolution
24,other sectors1,258,232,197,160,66,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
25,transport,439,397,313,209,63,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
27,other conversion3,181,107,73,44,11,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
28,population (mill.),204,206,207,206,203,199,table 13.11.20,Oecd asia Oceania,co2 emissions,population (mill.),Advanced Energy Revolution
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions per capita (t/capita),Advanced Energy Revolution
0,table 13.11.21: Oecd asia Oceania: primary ene...,2012,2020,2025,2030,2040,2050,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
9,hydro,419,539,558,571,586,647,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
14,ocean energy,0,32,144,324,558,893,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania,primary energy demand,of which non-energy use,Advanced Energy Revolution
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand,net electricity imports (final energy),Advanced Energy Revolution
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution

In [307]:
preyear = ex4[(ex4["1"]!="2012") &  (ex4["2"]!="2020") & (ex4["3"]!="2025") & (ex4["4"]!="2030") & (ex4["5"]!="2040") & (ex4["6"]!="2050")]
preyear

,0,1,2,3,4,5,6,Table,(glob,(Elec,^(Pow,scenario
1,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global,Electricity generation,Power plants,Reference
2,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global,Electricity generation,Power plants,Reference
3,lignite,"1,718","1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global,Electricity generation,Power plants,Reference
4,Gas,"3,876","4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global,Electricity generation,Power plants,Reference
5,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation,Power plants,Reference
6,oil,889,647,532,418,301,212,Table 13.1.1,Global,Electricity generation,Power plants,Reference
7,Diesel,147,158,180,202,234,256,Table 13.1.1,Global,Electricity generation,Power plants,Reference
8,nuclear,"2,450","3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global,Electricity generation,Power plants,Reference
9,biomass (& renewable waste),205,523,652,780,"1,009","1,251",Table 13.1.1,Global,Electricity generation,Power plants,Reference
10,Hydro,"3,672","4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global,Electricity generation,Power plants,Reference
11,Wind,521,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global,Electricity generation,Power plants,Reference
12,of which wind offshore,19,69,123,189,346,521,Table 13.1.1,Global,Electricity generation,Power plants,Reference
13,PV,97,408,519,630,832,"1,096",Table 13.1.1,Global,Electricity generation,Power plants,Reference
14,Geothermal,69,111,148,185,283,419,Table 13.1.1,Global,Electricity generation,Power plants,Reference
15,solar thermal power plants,5,34,60,85,173,303,Table 13.1.1,Global,Electricity generation,Power plants,Reference
16,ocean energy,0,3,6,10,41,76,Table 13.1.1,Global,Electricity generation,Power plants,Reference
17,Combined heat and power plants,"3,478","3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
18,Hard coal (& non-renewable waste),"1,670","1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
19,lignite,193,187,185,182,175,171,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
20,Gas,"1,351","1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
21,of which from H2,0,0,0,0,0,0,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
22,oil,88,63,50,36,26,23,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
23,biomass (& renewable waste),175,218,237,259,290,326,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
24,Geothermal,2,2,3,3,4,6,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
25,Hydrogen,0,1,1,1,1,1,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
26,CHP by producer,NaN,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
27,Main activity producers,"1,576","1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
28,autoproducers,"1,903","2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference
29,Total generation,"22,604","28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global,Electricity generation,Total generation,Reference
30,fossil,"15,409","18,266","20,865","23,464","29,104","32,945",Table 13.1.1,Global,Electricity generation,fossil,Reference
...,...,...,...,...,...,...,...,...,...,...,...,...
18,without credit for chp heat,NaN,NaN,NaN,NaN,NaN,NaN,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution
19,co2 intensity fossil electr. generation,697,684,663,597,447,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution
20,co2 intensity total electr. generation,564,425,335,208,56,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution
21,co2 emissions by sector,"2,214","1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution
22,"% of 1990 emissions (1,566 mill t) 141%",141%,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution
23,industry1,319,292,242,190,92,0,table 13.11.20,Oecd asia Oceania,co2 emissions,industry,Advanced Energy Revolution
24,other sectors1,258,232,197,160,66,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
25,transport,439,397,313,209,63,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
26,power generation2,"1,016",833,665,437,128,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
27,other conversion3,181,107,73,44,11,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution
28,population (mill.),204,206,207,206,203,199,table 13.11.20,Oecd asia Oceania,co2 emissions,population (mill.),Advanced Energy Revolution
29,co2 emissions per capita (t/capita),10.9,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions per capita (t/capita),Advanced Energy Revolution
1,total,"35,801","34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
2,fossil,"32,365","27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
3,hard coal (& non-renewable waste),"8,092","6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
4,lignite,"1,592","1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
5,natural gas,"7,667","6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
6,crude oil,"15,014","12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
7,nuclear,"1,814","1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
8,renewables,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
9,hydro,419,539,558,571,586,647,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
10,wind,50,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
11,solar,62,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
12,biomass (& renewable waste),826,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
13,geothermal,266,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
14,ocean energy,0,32,144,324,558,893,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution
15,of which non-energy use,"3,647","3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania,primary energy demand,of which non-energy use,Advanced Energy Revolution
16,net electricity imports (final energy),0,0,0,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand,net electricity imports (final energy),Advanced Energy Revolution
17,total res incl. net electricity import,"1,622","5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution
18,res share,5%,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution

Need to clean percentages from tech types

Correcting dataframe to indicate year

In [308]:
preyear.columns = ["Technology", "2012", "2020", "2025", "2030", "2040", "2050", "NumTable", "Geography", "TableName", "Group", "Scenario"]

In [309]:
preyear = preyear[["NumTable", "Geography", "TableName", "Group", "Scenario", "Technology", "2012", "2020", "2025", "2030", "2040", "2050"]]

In [310]:
preyear.head()

,NumTable,Geography,TableName,Group,Scenario,Technology,2012,2020,2025,2030,2040,2050
1,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Power plants,"19,125","24,639","28,392","32,169","39,767","45,752"
2,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Hard coal (& non-renewable waste),"5,477","7,315","8,702","10,167","13,224","15,074"
3,Table 13.1.1,Global,Electricity generation,Power plants,Reference,lignite,"1,718","1,897","2,044","2,143","2,380","2,617"
4,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Gas,"3,876","4,614","5,665","6,710","9,020","10,759"
5,Table 13.1.1,Global,Electricity generation,Power plants,Reference,of which from H2,0,0,0,0,0,0

In [305]:
preyear

,NumTable,Geography,TableName,Group,Scenario,Technology,2012,2020,2025,2030,2040,2050
1,"24,639","28,392","32,169","39,767","45,752",Table 13.1.1,Global,Electricity generation,Power plants,Reference,Power plants,"19,125"
2,"7,315","8,702","10,167","13,224","15,074",Table 13.1.1,Global,Electricity generation,Power plants,Reference,Hard coal (& non-renewable waste),"5,477"
3,"1,897","2,044","2,143","2,380","2,617",Table 13.1.1,Global,Electricity generation,Power plants,Reference,lignite,"1,718"
4,"4,614","5,665","6,710","9,020","10,759",Table 13.1.1,Global,Electricity generation,Power plants,Reference,Gas,"3,876"
5,0,0,0,0,0,Table 13.1.1,Global,Electricity generation,Power plants,Reference,of which from H2,0
6,647,532,418,301,212,Table 13.1.1,Global,Electricity generation,Power plants,Reference,oil,889
7,158,180,202,234,256,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Diesel,147
8,"3,215","3,443","3,670","3,856","4,054",Table 13.1.1,Global,Electricity generation,Power plants,Reference,nuclear,"2,450"
9,523,652,780,"1,009","1,251",Table 13.1.1,Global,Electricity generation,Power plants,Reference,biomass (& renewable waste),205
10,"4,458","4,832","5,207","5,862","6,431",Table 13.1.1,Global,Electricity generation,Power plants,Reference,Hydro,"3,672"
11,"1,254","1,608","1,962","2,552","3,202",Table 13.1.1,Global,Electricity generation,Power plants,Reference,Wind,521
12,69,123,189,346,521,Table 13.1.1,Global,Electricity generation,Power plants,Reference,of which wind offshore,19
13,408,519,630,832,"1,096",Table 13.1.1,Global,Electricity generation,Power plants,Reference,PV,97
14,111,148,185,283,419,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Geothermal,69
15,34,60,85,173,303,Table 13.1.1,Global,Electricity generation,Power plants,Reference,solar thermal power plants,5
16,3,6,10,41,76,Table 13.1.1,Global,Electricity generation,Power plants,Reference,ocean energy,0
17,"3,854","3,983","4,088","4,240","4,359",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Combined heat and power plants,"3,478"
18,"1,873","1,929","1,956","1,958","1,891",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Hard coal (& non-renewable waste),"1,670"
19,187,185,182,175,171,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,lignite,193
20,"1,510","1,577","1,650","1,785","1,941",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Gas,"1,351"
21,0,0,0,0,0,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,of which from H2,0
22,63,50,36,26,23,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,oil,88
23,218,237,259,290,326,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,biomass (& renewable waste),175
24,2,3,3,4,6,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Geothermal,2
25,1,1,1,1,1,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Hydrogen,0
26,NaN,NaN,NaN,NaN,NaN,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,CHP by producer,NaN
27,"1,632","1,633","1,631","1,628","1,641",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Main activity producers,"1,576"
28,"2,222","2,349","2,457","2,612","2,717",Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,autoproducers,"1,903"
29,"28,492","32,374","36,256","44,007","50,110",Table 13.1.1,Global,Electricity generation,Total generation,Reference,Total generation,"22,604"
30,"18,266","20,865","23,464","29,104","32,945",Table 13.1.1,Global,Electricity generation,fossil,Reference,fossil,"15,409"
...,...,...,...,...,...,...,...,...,...,...,...,...
18,NaN,NaN,NaN,NaN,NaN,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution,without credit for chp heat,NaN
19,684,663,597,447,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution,co2 intensity fossil electr. generation,697
20,425,335,208,56,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution,co2 intensity total electr. generation,564
21,"1,861","1,491","1,039",360,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution,co2 emissions by sector,"2,214"
22,119%,95%,66%,23%,0%,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution,"% of 1990 emissions (1,566 mill t) 141%",141%
23,292,242,190,92,0,table 13.11.20,Oecd asia Oceania,co2 emissions,industry,Advanced Energy Revolution,industry1,319
24,232,197,160,66,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,other sectors1,258
25,397,313,209,63,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,transport,439
26,833,665,437,128,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,power generation2,"1,016"
27,107,73,44,11,0,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,other conversion3,181
28,206,207,206,203,199,table 13.11.20,Oecd asia Oceania,co2 emissions,population (mill.),Advanced Energy Revolution,population (mill.),204
29,9,7.2,5,1.8,0,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions per capita (t/capita),Advanced Energy Revolution,co2 emissions per capita (t/capita),10.9
1,"34,449","31,081","28,680","24,404","20,898",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,total,"35,801"
2,"27,306","22,486","17,061","8,073","2,246",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,fossil,"32,365"
3,"6,863","5,505","3,172",380,20,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,hard coal (& non-renewable waste),"8,092"
4,"1,133",915,466,46,0,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,lignite,"1,592"
5,"6,457","5,889","5,853","3,611",46,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,natural gas,"7,667"
6,"12,853","10,177","7,570","4,036","2,180",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,crude oil,"15,014"
7,"1,778",545,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,nuclear,"1,814"
8,"5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,renewables,"1,622"
9,539,558,571,586,647,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,hydro,419
10,576,"1,008","1,620","2,953","3,673",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,wind,50
11,565,"1,341","2,259","3,588","4,551",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,solar,62
12,"1,949","2,763","3,209","3,691","3,712",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,biomass (& renewable waste),826
13,"1,703","2,236","3,637","4,955","5,176",table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,geothermal,266
14,32,144,324,558,893,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,ocean energy,0
15,"3,104","2,808","2,713","2,477","2,245",table 13.11.21,Oecd asia Oceania,primary energy demand,of which non-energy use,Advanced Energy Revolution,of which non-energy use,"3,647"
16,0,0,0,0,0,table 13.11.21,Oecd asia Oceania,primary energy demand,net electricity imports (final energy),Advanced Energy Revolution,net electricity imports (final energy),0
17,"5,365","8,050","11,619","16,331","18,652",table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution,total res incl. net electricity import,"1,622"
18,16%,26%,41%,67%,89%,table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution,res share,5%

Creating the final table

In [311]:
new_table = []
year = []
for column in range(6,12):
    extra = preyear.iloc[:, :6]
    value = preyear.iloc[:, column]
    if column == 6:
        year = 2012
    elif column == 7:
        year = 2020
    elif column == 8:
        year = 2025
    elif column == 9:
        year = 2030
    elif column == 10:
        year = 2040
    elif column == 11:
        year = 2050
    else:
        print("column issues")

    tmp_table= pd.concat([extra, value], axis = 1)
    tmp_table["Year"] = year
    tmp_table["Value"] = tmp_table[str(year)]
    tmp_table = tmp_table.drop(columns = [str(year)])
    
    if column == 6:
        new_table = tmp_table
    else:
        new_table = pd.concat([new_table, tmp_table], axis = 0)

In [312]:
new_table

,NumTable,Geography,TableName,Group,Scenario,Technology,Year,Value
1,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Power plants,2012,"19,125"
2,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Hard coal (& non-renewable waste),2012,"5,477"
3,Table 13.1.1,Global,Electricity generation,Power plants,Reference,lignite,2012,"1,718"
4,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Gas,2012,"3,876"
5,Table 13.1.1,Global,Electricity generation,Power plants,Reference,of which from H2,2012,0
6,Table 13.1.1,Global,Electricity generation,Power plants,Reference,oil,2012,889
7,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Diesel,2012,147
8,Table 13.1.1,Global,Electricity generation,Power plants,Reference,nuclear,2012,"2,450"
9,Table 13.1.1,Global,Electricity generation,Power plants,Reference,biomass (& renewable waste),2012,205
10,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Hydro,2012,"3,672"
11,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Wind,2012,521
12,Table 13.1.1,Global,Electricity generation,Power plants,Reference,of which wind offshore,2012,19
13,Table 13.1.1,Global,Electricity generation,Power plants,Reference,PV,2012,97
14,Table 13.1.1,Global,Electricity generation,Power plants,Reference,Geothermal,2012,69
15,Table 13.1.1,Global,Electricity generation,Power plants,Reference,solar thermal power plants,2012,5
16,Table 13.1.1,Global,Electricity generation,Power plants,Reference,ocean energy,2012,0
17,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Combined heat and power plants,2012,"3,478"
18,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Hard coal (& non-renewable waste),2012,"1,670"
19,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,lignite,2012,193
20,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Gas,2012,"1,351"
21,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,of which from H2,2012,0
22,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,oil,2012,88
23,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,biomass (& renewable waste),2012,175
24,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Geothermal,2012,2
25,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Hydrogen,2012,0
26,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,CHP by producer,2012,NaN
27,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,Main activity producers,2012,"1,576"
28,Table 13.1.1,Global,Electricity generation,Combined heat and power plants,Reference,autoproducers,2012,"1,903"
29,Table 13.1.1,Global,Electricity generation,Total generation,Reference,Total generation,2012,"22,604"
30,Table 13.1.1,Global,Electricity generation,fossil,Reference,fossil,2012,"15,409"
...,...,...,...,...,...,...,...,...
18,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution,without credit for chp heat,2050,NaN
19,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution,co2 intensity fossil electr. generation,2050,0
20,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions power and chp plants,Advanced Energy Revolution,co2 intensity total electr. generation,2050,0
21,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution,co2 emissions by sector,2050,0
22,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions by sector,Advanced Energy Revolution,"% of 1990 emissions (1,566 mill t) 141%",2050,0%
23,table 13.11.20,Oecd asia Oceania,co2 emissions,industry,Advanced Energy Revolution,industry1,2050,0
24,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,other sectors1,2050,0
25,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,transport,2050,0
26,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,power generation2,2050,0
27,table 13.11.20,Oecd asia Oceania,co2 emissions,other sectors,Advanced Energy Revolution,other conversion3,2050,0
28,table 13.11.20,Oecd asia Oceania,co2 emissions,population (mill.),Advanced Energy Revolution,population (mill.),2050,199
29,table 13.11.20,Oecd asia Oceania,co2 emissions,co2 emissions per capita (t/capita),Advanced Energy Revolution,co2 emissions per capita (t/capita),2050,0
1,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,total,2050,"20,898"
2,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,fossil,2050,"2,246"
3,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,hard coal (& non-renewable waste),2050,20
4,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,lignite,2050,0
5,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,natural gas,2050,46
6,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,crude oil,2050,"2,180"
7,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,nuclear,2050,0
8,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,renewables,2050,"18,652"
9,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,hydro,2050,647
10,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,wind,2050,"3,673"
11,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,solar,2050,"4,551"
12,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,biomass (& renewable waste),2050,"3,712"
13,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,geothermal,2050,"5,176"
14,table 13.11.21,Oecd asia Oceania,primary energy demand,co2 emissions per capita (t/capita),Advanced Energy Revolution,ocean energy,2050,893
15,table 13.11.21,Oecd asia Oceania,primary energy demand,of which non-energy use,Advanced Energy Revolution,of which non-energy use,2050,"2,245"
16,table 13.11.21,Oecd asia Oceania,primary energy demand,net electricity imports (final energy),Advanced Energy Revolution,net electricity imports (final energy),2050,0
17,table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution,total res incl. net electricity import,2050,"18,652"
18,table 13.11.21,Oecd asia Oceania,primary energy demand,total res incl. net electricity import,Advanced Energy Revolution,res share,2050,89%

Saving to csv

In [313]:
new_table.to_csv("cleanData.csv")